*{
    font-size: 25px;
    text-decoration:none;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: "Google Sans Flex", sans-serif;
}

h1{
    font-size: 30px;
    margin-bottom: 5px;
}

.side-content{
    padding-left: 30px;
}

.options a{
    display: grid;
    grid-auto-columns: 60px 1fr;
    grid-auto-flow: column;
    gap: 10px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    background-color: #e1e1e1;
}

.side-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash{
    padding-right: 10px;
    
}

.icon{
    filter: invert(1);
}

.options{
    margin-top: 50px;
    display: grid;
    gap: 5px;
}

.sidebar{
    background-color: #1992d4;
    grid-area:1/1/3/2 ;
}

.Dashboard{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: white;
}

.header{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr 3fr;
    grid-column: 2/3;
    background-color: white;
    box-shadow:rgba(1, 1, 1, 0.3) 0px 4px 6px 0px;
    margin-bottom: 40px;
}

.search-bar{
    display: flex;
    margin:20px 10px 30px;
}

.alerts-bar{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20%;
}

.logo,
.icon{
    height: 50px;
    width: 50px;
}

.profile{
    height: 80px;
    width: auto;
    border-radius: 50px;
    padding: 10px;
}

.greeting-bar{
    display: flex;
}

.head-buttons{
    display: flex;
    align-items: center;
    justify-content: end;
}

.smalltxt{
    font-size: 20px;
    margin: 0;
    margin-top: 15px;
}

.name{
    font-size: 50px;
    margin: 0;
}

.header-buttons{
    margin: 25px;
    padding: 8px 50px;
    border-radius: 30px;
    background-color: #1992d4;
    color: white;
    border: none;
}

.searchinput {
    font-size: 30px;
    flex: 1;           /* expand inside search bar */
    width: 100%;       /* stretch fully */
    max-width: 100%;
    height: 35px;
    border-radius: 20px;
    border: none;
    padding-left: 15px;
    outline: none;
    background-color: rgb(207, 205, 205);
}

.main-content{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;  /* Only one row */
    gap: 40px;
    background-color: #e1e1e1;
    padding-left: 20px;
}

.MyProject,
.MyAnnouncement,
.MyTrending{
    font-size: 30px;
    font-weight: bold;
}

.projects-container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    font-size: 1.2rem;
}

.project{
    min-height: 300px;
    background-color: white;
    border-radius: 10px;
    border-left: 16px #ef8e2d solid;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project_Title{
    font-weight: 700;
}

.announcements-big-container,
.trending-big-container {
    grid-column: 2 / 3;      /* force them into the right column */
    align-self: start;       /* don't stretch vertically */
    margin-bottom: 20px;
    margin-right: 35px;
}

.announcements-container,
.trending-container {
    display: grid;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
}

.announcement{
    padding: 15px;
    border-bottom: #c1c1c1 solid 1px;
}

.trends-row{
    padding: 15px;
}

.anouncepara{
    color: #6e6e6e;
}

.trends-row {
    display: grid;
    align-items: center;
    gap: 12px;
}

.pic-wrapper img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.project-wrapper{
    display: grid;
    grid-template: auto;
    grid-row: 1/3;
    grid-column: 1/2;
}

.wrapper {
    display: grid;
    grid-auto-rows: auto 1fr;
    gap: 20px;
}